.botao {
  background-color: #f2f2f2;
  color: #7a5c3e;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}
.botao:hover {
  background-color: #e0d4c0;
}
