.hero {
  background-image: url('realpolitik.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.hero-text h1 {
  color: #f2f2f2;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
  line-height: 1.3;
}
